@font-face {
    font-family: 'regular';
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'medium';
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'thin';
    src: url(../assets/fonts/Montserrat-Thin.ttf);
}
